:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
/* цвет основного текста ----212121(чёрный)---
                            серый----757575----для абзацов */
/* вторичный цвет текста ----FFFFFF(белый), 2196F3(синий - при навидени) */

/* цвета страницы: 
белый-----FFFFFF
серый-----F5F4FA
тёмно серый---2F303A
синий-----2196F3


КНОПКА

синий ----2196F3 

синий(ховер)---188CE8




ЛОГО
синий---2196F3
чёрный--000000

*/

.logo {
}
